:root {
  --white-color: #ffffff;
  --orange-color: #FC9823;
  --violet-dark-color: #28277B;
  --violet-white-color: #F1F1FF;
  --gray-dash: #cccccc;
  --gray-dark: #728098;
  --white-gray-color: #f9f9f9;
  --yellow-hover-color: #ffffad;
  --blue-color : rgb(133, 200, 255);
  --gray-white-color: rgb(242, 244, 246);
}
